@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background-color: #FFF2F2;
}

.navbar {
  border-bottom: #FFF2F2 solid 1px;
}

.navbar a {
  color: #FFF2F2;
  font-family: 'Iceland', cursive;
  font-size: 1vw;
}

.background1 {
  background-image: url("../public/background1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.heading {
  font-family: 'Iceland', cursive;
  font-size: 6vw;
  text-align: center;
  padding: 3%;
}

.content {
  color: #FFF2F2;
  font-family: 'Iceland', cursive;
  font-size: 1.3vw;
  max-width: 28.5%;
  margin: 0 auto 1%;
  text-align: center;
  background: rgb(174, 226, 255, 0.3);
}

.heading2 {
  font-family: 'Iceland', cursive;
  font-size: 3vw;
  text-align: center;
  padding: 1%;
  border-top: #7286D3 solid 1px;
  border-bottom: #7286D3 solid 1px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.left-content,
.right-content {
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  color: #13005A;
  font-family: 'Iceland', cursive;
}

.vertical-line {
  width: 1%;
  background-color: #E5E0FF;
}

.picture {
  width: 40%;
  margin: 1% auto;
}

.pictureContent p {
  font-size: 1.3vw;
}

.description {
  width: 55%;
  text-align: center;
  margin: 15% auto;
}

.description h1 {
  font-size: 1.4vw;
}

.description p {
  font-size: 1.1vw;
}

.icon-container {
  position: relative;
  flex-shrink: 0; /* Prevent the container from shrinking */
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for most YouTube videos) */
  height: 0;
  overflow: hidden;
  margin: 20px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#floating-icon {
  position: fixed;
  top: 50%; /* Initial vertical position in the center */
  left: 50%; /* Initial horizontal position in the center */
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.1s ease-in-out;
  width: 3%;
}

#floating-icon.active {
  opacity: 1; /* Show the icon when activated */
}

.skillsContent {
  color: #13005A;
  font-family: 'Iceland', cursive;
  font-size: 1.1vw;
  max-width: 30%;
  margin: 5% auto 5%;
  justify-content: flex-end;
}

.skillsBar {
  justify-content: center;
  align-items: center;
}

/* Custom class for river-like progress bar */
.river-progress {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.2) 100%);
}

/* Custom styling for the progress element */
progress {
  appearance: none;
  height: 1vh;
  border: none;
  border-radius: 2px;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background-color: blue;
}

/* Styling for the boat icon */
.boat-icon {
  position: absolute;
  height: 5vw;
  top: -55px; /* Adjust the value to position the boat icon vertically */
  /* left: 90px; Adjust the value to position the boat icon horizontally */
  animation: boat-animation 5s linear infinite; /* Example animation properties */
}

/* Example animation keyframes for boat animation */
@keyframes boat-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}

.footerContent {
  color: #FFF2F2;
  font-family: 'Iceland', cursive;
  font-size: 1.3vw;
  max-width: 28.5%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #7286D3;
}

.footer-icons {
  display: flex;
  gap: 5vw; /* Adjust the gap between the icons as needed */
  justify-content: center;
  padding: 3%; /* Adjust the margin top as needed */
}

.footer-icon {
  height: 2vw;
}

.footer-icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}